<% if (is_home()) { %>
<header class="panel-cover">
<% } else { %>
<header class="panel-cover panel-cover--collapsed">
<% } %>
  <div class="panel-main">
    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">
        <% if (theme.logo) { %>
        <img src="<%= theme.logo %>" alt="<%= config.title %> logo" class="panel-cover__logo logo" title="Click Me!!!"/>
        <% } %>
        <h1 class="panel-cover__title panel-title"><a href="/" title="link to homepage"><%= config.title %></a></h1>
        <hr class="panel-cover__divider" />
        <% if (config.subtitle) { %>
        <p class="panel-cover__description">
          <%= config.subtitle %>
        </p>
        <hr class="panel-cover__divider panel-cover__divider--secondary" />
        <% } %>
        <div class="navigation-wrapper">
          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <% for (var i in theme.menu){ %>
                <%
                  if (theme.menu[i]+'' == '/#blog') {
                    nav_btn_class = 'blog-button';
                  } else {
                    nav_btn_class = '';
                  }
                %>
                <li class="navigation__item"><a href="<%- theme.menu[i] %>" title="" class="<%= nav_btn_class %>"><%= i %></a></li>
              <% } %>
              <a target="_blank" href="https://github.com/chokcoco"><li class='navigation__item github' title="To my Github"></li></a>
              <a target="_blank" href="http://www.cnblogs.com/coco1s/"> <li class='navigation__item'><div class='navigation__item blog' title="To my cnblogs"></div></li></a>
            </ul>
          </nav>
          <%- partial('_partials/social') %>
        </div>
      </div>
    </div>
    <div class="panel-cover--overlay"></div>
  </div>
</header>
